* {
  margin: 0;
  padding: 0;
}
div {
  height: 400px;
}
h1 {
  font-size: 4rem;
  color: rosybrown;
}
p {
  font-size: 2rem;
  color: white;
}
.first {
  background-image: url("./images/2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: 10rem 3rem; */
  background-attachment: fixed;
}
.second {
  background-image: url("./images/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}
