* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
  align-content: space-around;
  height: 600px;
  background: chartreuse;
  grid-gap: 5px;
}

.child {
  background-color: saddlebrown;
  font-size: 2rem;
}
