.container {
  height: 50px;
  background-color: rgb(159, 159, 159);
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.container p {
  line-height: 50px;
  font-weight: bold;
}
