.container {
  height: 50px;
  background: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logout {
  background: #0f9d58;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.logout:hover {
  background: #07713e;
}

.typographyLogo {
  color: #0f9d58;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(5, 5, 183);
  font-family: "Lobster", cursive;
  font-size: larger;
  background-image: linear-gradient(120deg, #27a0a8, #8b15e0, #f40f31);
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animated-gradient 5s ease-in-out infinite;
  min-width: min-content;
}

@keyframes animated-gradient {
  0%,
  100% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}
