* {
  padding: 0;
  margin: 0;
}

.container {
  background: silver;
  display: flex;
  /* flex-direction: row-reverse;
  flex-wrap: wrap; */
  flex-flow: row-reverse wrap;
}

.child {
  font-size: 2rem;
  background: snow;
  margin: 5px;
}
