@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.loginPage {
  background-color: #f6f6f6;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginCard {
  border: 1px solid silver;
  background-color: #fff;
  padding: 20px 35px;
  border-radius: 10px;
}

.loginCard h2 {
  color: rgb(93, 93, 93);
  font-size: 1.3rem;
  margin-bottom: 40px;
}

.typographyLogo {
  color: rgb(5, 5, 183);
  font-family: "Lobster", cursive;
  font-size: larger;
  background-image: linear-gradient(120deg, #27a0a8, #8b15e0, #f40f31);
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animated-gradient 5s ease-in-out infinite;
  min-width: min-content;
}

@keyframes animated-gradient {
  0%,
  100% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f9d58;
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background: #07713e;
}

.button .loginWrapperRadius {
  width: 30px;
  height: 30px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}

.button .loginWrapperRadius img {
  width: 100%;
}
