* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  background-color: rgb(0, 21, 79);
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar a {
  color: #ffffff;
  padding: 8px;
  text-decoration: none;
}

.logo-name {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

nav {
  margin-right: 40px;
}
