@import "variables.scss";
@import "mixins";

@mixin query($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  @include textStyle(black, red, 10px, 40px);
  @include font(3rem, bold);
  margin-top: (0);
  @include hoverEffect(rgb(214, 65, 225), rgb(123, 255, 79));

  @include query(400px) {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: yellow
  }
}

// h1:hover {
//   background-color: aqua;
// }

h2 {
  @include textStyle(black, green, 50px, 5px);
  color: $primaryColor;
  @include hoverEffect(royalblue, #fff);
}

p {
  @include textStyle(black, blue, 4px, 5px);
  @include hoverEffect1();
  font-size: $fontSize * 2;
}
